<h1>Account: <%= @account.Name %></h1>

<h2>Contacts</h2>
<table>
    <% @contacts.each do |contact| %>
      <tr>
          <td><%= @contact.FirstName %> <%= contact.LastName %></td>
          <td><%= @contact.Email %></td>
          <td><%= @contact.PhoneNumber %></td>
      </tr>
    <% end %>
</table>